.statBlock {
  font-family: "Noto Sans", "Myriad Pro", Calibri, Helvetica, Arial, sans-serif;
  text-align: left;
  margin: 20px;
  display: inline-block;
  vertical-align: top;
  width: 17%;
  min-width: 280px;
  background: #fdf1dc;
  padding: 5px 10px 20px;
  box-shadow: 0 0 1.5em #867453;
}
.statBlock.wide {
  width: 100%;
  min-width: 560px;
  text-align: center;
}
.statBlock.wide .sectionLeft,
.statBlock.wide .sectionRight {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  text-align: left;
}
.statBlock.wide .sectionLeft {
  margin-right: 1.5%;
}
.statBlock.wide .sectionRight {
  margin-left: 1.5%;
}
@media screen and (max-width: 675px) {
  .statBlock.wide {
    min-width: 280px;
  }
  .statBlock.wide .sectionLeft,
  .statBlock.wide .sectionRight {
    display: block;
    width: 100%;
  }
  .statBlock.wide .sectionLeft {
    margin: 0;
  }
  .statBlock.wide .sectionRight {
    margin: 0;
  }
}
.orangeBorder {
  display: block;
  background: #e69a28;
  border: 1px solid #000;
  height: 5px;
  padding: 0 10px 0;
  margin: -10px -10px 0;
  box-sizing: initial;
}
.orangeBorder.bottom {
  margin: 15px -10px -20px;
}
.taperedRule {
  display: block;
  width: 100%;
  height: 5px;
  border: none;
  color: #922610;
  fill: #922610;
  stroke: #922610;
}
.creatureHeading h1 {
  font-family: "Libre Baskerville", "Lora", "Calisto MT", "Bookman Old Style",
    Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter",
    Georgia, serif;
  color: #922610;
  font-size: 23px;
  line-height: 1.2em;
  margin: 10px 0 0;
  letter-spacing: 1px;
  font-variant: small-caps;
  font-weight: bold;
}
.creatureHeading h2 {
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
  line-height: 1.2em;
  margin: 0 0 10px;
}
.propertyLine h4 {
  font-weight: bold;
}
.propertyLine h4,
.propertyLine p {
  display: inline;
  margin: 0;
  color: #922610;
  font-size: 13.5px;
  line-height: 1.2em;
}
.propertyLine h4 {
  color: #7a200d;
}
.propertyLine {
  text-indent: -1em;
  padding-left: 1.1em;
  line-height: 1.4em;
}
.propertyLine.first {
  margin: 8px 0 0;
}
.propertyLine.last {
  margin: 0 0 10px;
}
.abilities {
  text-align: center;
  color: #922610;
}
.abilities > div {
  display: inline-block;
  vertical-align: middle;
  width: 15.5%;
  min-width: 40px;
  font-size: 12px;
  line-height: 1em;
}
.abilities h4 {
  margin: 10px 0 2px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #7a200d;
}
.abilities p {
  margin: 0 0 10px;
  line-height: 1.2em;
}
.propertyBlock h4,
.propertyBlock p {
  font-size: 13.5px;
  line-height: 1.2em;
  display: inline;
  margin: 0;
}
.propertyBlock h4 {
  font-weight: bold;
  font-style: italic;
}
.propertyBlock {
  padding: 10px 2px 0;
}
.actions h3 {
  border-bottom: 1px solid #7a200d;
  color: #7a200d;
  font-size: 21px;
  font-variant: small-caps;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 20px 0 0;
  padding: 0 0 10px;
  text-indent: 5px;
}
.actions {
  margin: 0 0 20px;
}
.actions:last-child {
  margin: 0;
}

@media print {
  .orangeBorder {
    display: none;
  }
  .statBlock,
  .statBlock.wide,
  .statBlock.wide .sectionLeft,
  .statBlock.wide .sectionRight,
  .propertyLine,
  .propertyBlock {
    width: 100%;
    display: block;
  }
  .statBlock.wide .sectionLeft {
    margin: 0;
  }
  .statBlock.wide .sectionRight {
    margin: 0;
  }
  .statBlock {
    width: 40%;
    display: inline-block;
    vertical-align: top;
  }
  .statBlock.wide {
    page-break-after: always;
  }
}
@media screen and (max-width: 575px) {
  .statBlock {
    margin: 20px 0;
  }
}
