@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
  @apply -translate-y-6 scale-75 transform;
}

textarea:not(:placeholder-shown) ~ label {
  @apply -translate-y-6 scale-75 transform;
}

input:focus-within ~ label {
  @apply text-blue-500;
}

textarea:focus-within ~ label {
  @apply text-blue-500;
}

.standard-button {
  @apply inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-200 p-[2px] text-sm font-medium text-indigo-800 shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 sm:w-auto;
}
