@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
  @apply -translate-y-6 scale-75 transform;
}

input:focus-within ~ label {
  @apply text-blue-500;
}
